<footer> 
  <center>
  <!-- Copyright footnote -->
  &copy; 2023 AirWiz Application.
  <!-- Footer links -->
  <nav>
	<a href="https://github.com/HeinzSiahaan">Github</a>
	<a href="https://www.linkedin.com/in/heinz-siahaan-452b0148/">LinkedIn</a>
	<a href="https://rpubs.com/heinzmdsiahaan">Rpubs</a>
  </nav>
  <center>
</footer>
